<%- include("header") -%>

<center>
  <h2>Hello there!</h2>
  <p>Thanks for taking your time to read this.</p>
  <p>I am Pralay Mondal and this is one of my initial projects.</p>
  <p>I created this about page specially to test the templating and layouting in ejs.</p>
  <p>The about page and all the To-Do List pages have the same header footer Layout. So that's basically it.</p>
  <h3>Thanks Again! Kudos!</h3>
</center>

<%- include("footer") -%>
